---
import Faq from './Faq.astro';
import FeaturedCategories from './FeaturedCategories.astro';
import Hero from './Hero.astro';
import HowOrderingWorks from './HowOrderingWorks.astro';
import OwnerStory from './OwnerStory.astro';
import WhatsAppCta from './WhatsAppCta.astro';

const instagramHref = 'https://www.instagram.com/perlettecakes';
const whatsappHref = `https://wa.me/60196505050?text=${encodeURIComponent("Hi Perlette Cakes! I'd like to enquire about a custom cake order.")}`;
---

<main>
	<Hero whatsappHref={whatsappHref} instagramHref={instagramHref} />
	<FeaturedCategories />
	<OwnerStory />
	<HowOrderingWorks whatsappHref={whatsappHref} />
	<WhatsAppCta whatsappHref={whatsappHref} />
	<Faq whatsappHref={whatsappHref} />
</main>

